* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif; 
    display: flex;
    flex-direction: column;
}

a {
    text-decoration: none;
    color: #000;
}

li {
    list-style: none;

}

img {
    width: 100%;
}


/************universal header with hero section and nav links***************/

.hero-banner {
    min-height: 60vh;
    background-color: #4B2BB7;
    color: #fff;
    margin-bottom: 10rem; 
}

nav {
    display: flex;
    flex-wrap: wrap;
    min-height: 15vh;
    text-align: center;
    align-items: center;
    max-width: 90%;
    margin: auto;   
}

.logo-container {
    flex: 1 1 30rem;
}

.nav-links {
    flex: 1 1 15rem;
    display: flex;
    justify-content: space-around;  
}

.nav-links a {
    color: #fff;
}

.hero-banner-title {
    margin: 3rem;
    margin-left: 12em;
}

.hero-banner-title h4, .card h4 {
    color: #FA6797;
}

.hero-banner-title h3 {
    font-size: 2rem;
    font-weight: bolder;
}


/************Home page***************/

.moreInfo {
    max-width: 650px;
    margin: 5em auto;
}

.box {
    display: grid;
    grid-gap: 1em;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    max-width: 800px;
    margin: 0 auto;
}

.tracker-image {
    justify-self:center;
    height:250px;
    width:250px;
    background-color: #b22bb7;
}

.tracker-image1 {
    grid-column: 1 / 1;
    grid-row: 1 / 2;
}

.tracker-image2 {
    grid-column: 2 / 2;
    grid-row: 1 / 2;
}

.tracker-image3 {
    grid-column: 3 / 3;
    grid-row: 1 / 2;
}




/************About page***************/

.about-container {
    max-width: 80%;
    margin: auto;
}

.card-container {
    display: flex;
    flex-wrap: wrap; 
}

.card {
    flex: 1 1 50rem;
    margin-bottom: 5rem;
    text-align: center; 
}

.card p {
    margin-bottom: 1rem;
}

.card a {
    background-color: #4B2BB7;
    color: #fff;
    padding: 0.3rem 0.6rem;
    border-radius: 20px;
}

.card h4 {
    margin-bottom: 0.8rem;
}

.card-image {
    width: 250px;   
    height: 250px;
    border-radius: 50%;
    margin: auto;
    background-color: #b22bb7;
    margin-bottom: 2rem;
}

/******************blog page*********************/

main{
    max-width:90ch;
    width:60vw;
    min-width:40ch;
    margin:3rem auto;
  }
  
  .blog{
    background-color:#b22bb7;
    height:18em;
    width:100%;
    border-radius: .8rem;
    margin: 3rem 0;
    }
  
    main h3{
      margin: 2em 0 0 0;
      }
    
    main h4{
    color: #b22bb7;
  }







/******************blog page end*********************/

/************universal footer***************/

.footer {
    margin-top:200px;
    padding: 3em 0em 3em 12em;
    background-color: #4B2BB7;
    color: #fff;
}


@media (min-width: 878px) {
    .card {
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        text-align: left;
    }  

    .about-container {
        max-width: 65%;
    }
}