* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;   
}

a {
    text-decoration: none;
    color: #000;
}

li {
    list-style: none;

}

.hero-banner {
    min-height: 60vh;
    background-color: #4B2BB7;
    color: #fff;
    margin-bottom: 10rem;
    
}

nav {
    display: flex;
    flex-wrap: wrap;
    min-height: 15vh;
    text-align: center;
    align-items: center;
    max-width: 90%;
    margin: auto;
    
}

.logo-container {
    flex: 1 1 30rem;
}

.nav-links {
    flex: 1 1 15rem;
    display: flex;
    justify-content: space-around;  
}

.nav-links a {
    color: #fff;
}

.hero-banner-title {
    margin: 3rem;
}

.hero-banner-title h4, .card h4 {
    color: #FA6797;
}

.hero-banner-title h3 {
    font-size: 2rem;
    font-weight: bolder;
}

.about-container {
    max-width: 90%;
    margin: auto;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    
}

.card {
    flex: 1 1 50rem;
    margin-bottom: 5rem;
}

.card p {
    margin-bottom: 1rem;
}

.card a {
    background-color: #4B2BB7;
    color: #fff;
    padding: 0.3rem 0.6rem;
    border-radius: 20px;
}


.card h4 {
    margin-bottom: 0.8rem;
}

.card-image {
    width: 250px;   
    height: 250px;
    border-radius: 50%;
    background-color: #FA6797;

    
}


@media (min-width: 758px) {
    .card {
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
       
    }
    
}


